@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
}

nav {
  background-color: #141414 !important;
}

footer {
  background-color: #141414 !important;
  color: #808080;
}
